@charset "UTF-8";

.wrapper-body h3 {
    display: inline-block;
    margin-right: 3%;
}

.btn-adduser {
    position: relative;
    bottom: 5px;
}

.dashboard-body th {
    color: #2c305d;
}

.dashboard-body td {
    color: #767676;
}

.table-profile-picture,
.table-profile-text {
    display: inline-block;
}

.table-profile-picture {
    position: relative;
    bottom: 10px;
    margin-right: 5%;
}

.table-profile-text p {
    margin: 0;
}

.table-name {
    color: #2c305d;
    font-weight: 600;
}

.list-actions li {
    display: inline-block;
    margin-right: 10px;
}

.modal-body {
    padding: 2rem;
}

.modal-body h4 {
    text-align: center;
    margin: 5px 0 15px 0;
}

.modal input {
    width: 100%;
    margin-bottom: 20px;
}

.modal .btn-blue {
    background-color: #2c305d;
    color: #fff;
    float: right;
}

.modal .btn-blue:hover {
    background-color: #fff;
    color: #2c305d;
}

.modal-body select {
    width: 100%;
}


/*EDIT USER FORM */

.wrapper-edit-user-form form input, select {
	width: 100%;
	margin-bottom: 20px;
}

.btn-edit {
	background-color: #2c305d;
    color: #fff;
    float: right;
}

.btn-edit:hover {
	background-color: #fff;
    color: #2c305d;
    float: right;
}

.link-log-out {
	float: right;
}



